@font-face { font-family: "Monster" ; 
             font-style: normal; 
             src: url('Monster AG.ttf') format('truetype'); 
          
            } 
             /*   agregar ? font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */ 

body {
    background-color: #010165;
    margin: 0px;
  }
  
  
  .header {
    background-color: #1875c0;
    text-align: center; 
    font-family: "Monster";
    font-size: larger;
  }
  .door-frame {
    cursor: pointer;
    padding : 10px ;
    width: 20%;
    max-width: 150px;
    height: auto;
    
  }
  .title-row{
    margin-top : 42px; 
  margin-bottom : 21px;
  text-align : center;
  }
  .instructions-title{
  display:inline;
 
  font-size : 18px;
  color : #1875c0;
  }
  
  .instructions-row{
  margin : 0 auto;
  width : 400px ;
  
  }
  
  .instructions-number{
    padding-right : 25px ;
  font-size : 36px ;
  color : #1875c0 ;
  }
  
  .instructions-text{
    padding : 10px ;
  font-size : 14px ;
  color : #9bdf2f ;
  }
  
  .door-row{
    text-align:center;
  }
  .start-row{
    margin : auto;
  width : 120px;
  height : 43px;
  background-color : #9bdf2f;
  padding-top : 18px;
  font-size : 18px;
  text-align : center;
  color : #010165;
  margin-bottom : 21px;
  cursor : pointer;
  }
  
  
  